#articles_compose_posts .ItemArticle .OptionsTitle {
    visibility: visible;
}

#articles_compose_article #content-left,
#articles_compose_editarticle #content-left {
    max-width: none;
    width: auto;
}

#articles_compose_article #UrlCode span,
#articles_compose_editarticle #UrlCode span {
    display: inline;
    background: #ff8;
    padding: 2px 4px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#articles_compose_article #UrlCode input.InputBox,
#articles_compose_editarticle #UrlCode input.InputBox {
    width: 200px;
    padding: 3px;
    font-size: 12px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
}

#articles_compose_article #UrlCode a,
#articles_compose_editarticle #UrlCode a {
    margin-left: 10px;
}

#articles_compose_article #UrlCode strong,
#articles_compose_editarticle #UrlCode strong {
    color: #666;
}

#articles_compose_article .P label,
#articles_compose_editarticle .P label {
    color: #666;
    padding: 0 8px 0 0;
    font-weight: bold;
}

#articles_compose_article .P label.RadioLabel,
#articles_compose_editarticle .P label.RadioLabel {
    font-weight: normal;
}

#UploadedImages .UploadedImageWrap,
#UploadedThumbnail .UploadedImageWrap {
    display: inline-block;
    margin-right: 20px;
}

.UploadedImage img {
    max-width: 100%;
    height: auto;
}
