.Article {
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
    margin-bottom: 14px;
}

.Article:first-child {
    clear: none;
}

.Article:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.ArticleThumbnail {
    float: left;
    margin-right: 15px;
}

.ArticleInner {
    display: block;
    overflow: hidden;
}

.Meta-Article {
    color: #666;
    font-size: 11px;
}

.Meta-Article > span {
    display: inline-block;
}

.ArticleBody p {
    margin-bottom: 15px;
}

.ArticleBody .VideoWrap {
    display: block;
    text-align: center;
}

body.Articles.index .Article .Options > .ToggleFlyout,
body.Articles.category .Article .Options > .ToggleFlyout {
    display: none;
}

body.Articles.index .Article:hover .Options > .ToggleFlyout,
body.Articles.index .Article .Options > .ToggleFlyout.Open,
body.Articles.category .Article:hover .Options > .ToggleFlyout,
body.Articles.category .Article .Options > .ToggleFlyout.Open {
    display: block;
}

.ReactReply {
    background-position: -293px -6px;
}

.DataList .ItemCommentReply {
    margin-left: 30px;
}

.CommentForm.Guest .FormWrapper {
    padding-left: 10px;
}

.Item .Author .GuestName {
    font-size: 15px;
    font-weight: bold;
}

.Item .Options {
    position: relative;
    z-index: 500;
}
